.container{ 
    width: 600px;
    margin-left: auto;
    margin-right: auto ;
    font-family: 'Open Sans', sans-serif
}

.newletter h3{
    margin-top: 0;
}

.newletter {
    color:grey;
    border: solid thin #cfcfcf;
    border-radius: 3px;
    padding: 10px;
    position: relative;
    padding-bottom: 20px;
}

.newletter button {
    background-color: #3cb878;
    border: none;
    color: white; 
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.newletter input#email{
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 4px;
    border: solid  #cfcfcf 1px;
    border-radius: 3px;

    box-sizing: border-box;
}
.newletter #terms {
    position: relative;
    top: 1px;
}

.newletter #closex{
    position: absolute;
    top: 0px;
    right: 4px;
}

#questionmark{
    background-color: #3cb878;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 70px;
    text-align: center;
    color:white;
    position:fixed ;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 0 4px 4px gray;
}

.card {
    background-color: #3cb878;
    width: 180px;
    text-align : center;
    color: white;
    padding: 20px 0;
    box-shadow: 0px 0px 7px 2px grey;
    margin-bottom: 40px;

}

.card h3 {
    margin-bottom:0;
    margin-top: 10px;
}

#card-holder{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}